* {
    -webkit-tap-highlight-color: transparent;
}

.appName {
    font-family: 'Lemonada', cursive;
}

.side-width {
    width: 22rem;
}

@media screen and (max-width: 640px) {
    .side-width {
        width: 100%;
    }
}

.plyr--video {
    border-radius: inherit;
}

.box {
    box-shadow: 0px 8px 20px rgb(0 0 0 / 6%);
}

.style-2::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
    border-radius: 5px;
    background-color: rgba(2, 122, 227, 0.255);
    width: 5px;
}

.style-2::-webkit-scrollbar {
    width: 9px;
    border-radius: 9px;
    background-color: rgba(2, 122, 227, 0.255);
}

.style-2::-webkit-scrollbar-thumb {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3); */
    border-radius: 5px;
    width: 5px;
    background-color: rgb(2, 123, 227, 0.75);
}

.video-box {
    height: 400px;
    min-height: 300px;
    min-width: 100%;
}

@media screen and (max-width: 600px) {
    .video-box {
        height: 150px;
        min-height: 150px;
        width: 100%;
        left: 50%;
        z-index: 1000;
        transform: translateX(-50%);
    }
}